body {
    background-image: url('./images/FundoAtv1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


body p {
    color: rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 255, 255); 
}

