body {
    margin: 0;
    font-family: 'Arial', sans-serif; 
    background-color: #c77575; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

h1 {
    margin: 20px 0;
    text-align: center;
    color: #141414; 
}

.blog-list {
    list-style-type: none; 
    padding: 0;
    max-width: 800px;
    width: 100%;
}

.blog-item {
    background: rgb(224, 200, 200); 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}

.blog-item h2 {
    margin: 0;
    color: #333;
}

.blog-item .date {
    font-size: 14px;
    color: #555; 
}

.blog-item .summary {
    margin: 10px 0;
    color: #666;
}

.blog-item a {
    text-decoration: none;
    color: #0077cc; 
    font-weight: bold;
}

.blog-item a:hover {
    text-decoration: underline;
}
